/* .form-container {
  background: #fffcf0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-label{
   display: flex;
   gap: 2rem; 
} */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  
  .form-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
  }
  
  label {
    margin-bottom: 0.5rem;
    width: 8rem;
  }
  
  input {
    margin-bottom: 1rem;
  }
  