.article {
  width: 86%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #505050;
  gap: 10px;
  margin-bottom: 10px;
}
.article > .article_info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.article > .article_info_container > a {
  /* border-radius: 15px; */
  width: 35%;
  /* height: 100%; */
  /* object-fit: cover; */
  height: fit-content;
}
.article > .article_info_container > a > img {
  border-radius: 20px;
  /* width: 34%; */
  object-fit: cover;
  width: 100%;
}

.article > .article_info_container > img:hover {
  animation: zoom-in 1s ease forwards;
  cursor: pointer;
}

.article_info {
  width: 65%;
}
.article > div > div > h2 {
  font-weight: 700;
  font-size: 38px;
}
.article_date {
  align-self: flex-start;
  font-size: 16px;
  margin-bottom: 5px;
}
.article_description {
  font-size: 18px;
}
.article > button {
  margin-top: 10px;
  padding: 0.2rem 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  border-color: #afafaf;
  color: #505050;
  box-shadow: none;
  align-self: flex-start;
}
.article > button > a {
  border-color: #afafaf;
  color: #505050;
}
.article > button:hover {
  background-color: rgba(66, 20, 0, 0.1);
}

hr {
  color: #717171;
  opacity: 100%;
  z-index: 10000;
  width: 105%;
  box-sizing: border-box;
}
.article_date_mobile {
  display: none;
}

.article > .article_info_container {
  display: flex;
  gap: 20px;
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.01, 1.01);
  }
}

@media (max-width: 768px) {
  .article > .article_info_container > a {
    width: 70%;
    /* height: 100%; */
    /* width: auto; */
  }
  .article > .article_info_container > a > img {
    /* height: 100%;
    width: auto; */
    height: 100%;
  }
  .article > div > div > h2 {
    font-weight: 700;
  }
  .article_date_pc {
    display: none;
  }
  .article_date_mobile {
    display: block;
  }
}
@media (max-width: 550px) {
  .article_description {
    display: none;
    width: auto;
  }
  .article > .article_info_container > img {
    width: 45%;
  }
  .article > div > div > h2 {
    font-weight: 700;
    font-size: 6vw;
  }
  .article_date_pc {
    display: none;
  }
  .article_date_mobile {
    display: block;
  }
  .hide_mobile {
    display: none;
  }
}
