.day-card {
  /* height: 100%; */
  width: 17%;
  background-color: rgba(255, 206, 161, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  border-radius: 15px;
  /* padding */
}
.activity-card {
  /* background-color: #dfcab3; */
  background-color: #421400a9;
  width: 100%;
  /* height: auto; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
  margin-top: 10px;
  padding: 0 4px;
}
.activity-card0 {
  /* 35 + el padding-top de .day-name: queda GOD */
  margin-top: 64px;
}
.activity-card-single {
  margin-top: 35px;
  flex-grow: 0.3;
}
.activity-name {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}
.activity-time {
  text-align: center;
  margin-bottom: 10px;
}
.day-name {
  /* color: #cbab91; */
  color: #421400a9;
  font-size: 30px;
  position: absolute;
  top: 0;
  padding-top: 22px;
}
