.background-banner {
  height: 25rem;
  background-size: cover;
  background-position: center;
}

.back-to-main-associates {
  border: none;
  background: none;
  text-decoration: none;
  position: relative;
  top: 3rem;
  left: 3rem;
  margin: 1.5rem 0;
  font-weight: 700;
}

.associates-about-section {
  background-color: #fffcf0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  color: #421400;
  margin: 0 auto;
  width: 70%;
}

.associate-img {
  height: 40rem;
  width: auto;
}

.associates-info-contain p {
  font-size: large;
  text-align: justify;
}
.associates-info-contain h1 {
  color: #f4b74e;
}

.associates-section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffcf0;
  gap: 5rem;
  padding: 5rem 0;
}

@media (max-width: 1024px) {
  .back-to-main-associates {
    position: inherit;
    margin: 1.5rem 0;
  }

  .background-banner {
    height: 12rem;
  }

  .associates-about-section {
    width: 90%;
    padding: 2rem 5rem;
  }

  .associates-info-contain h1 {
    font-size: 2rem;
    text-align: center;
  }

  .associate-img {
    height: 20rem;
    width: auto;
  }
}

@media (max-width: 768px) {
  .associates-about-section {
    flex-direction: column-reverse;
    width: 90%;
    padding: 0rem;
  }

  .image-contain {
    display: flex;
    justify-content: center;
  }

  .associate-img {
    height: auto;
    width: 50%;
  }
}

@media (max-width: 450px) {
  .back-to-main-associates {
    position: inherit;
    top: 1rem;
    left: 1rem;
  }

  .associate-img {
    height: auto;
    width: 75%;
  }
}
