.background-banner {
  height: 30rem;
  background-size: cover;
  background-position: center;
}

.back-to-main-associates {
  position: relative;
  top: 3rem;
  left: 3rem;
  color: #9e75e5;
  text-decoration: underline;
}

.about-section {
  background-color: #fffcf0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  color: #421400;
  margin: 0 auto;
  width: 80%;
}

.info-contain p {
  font-size: large;
  text-align: justify;
}
.info-contain h1 {
  color: #f4b74e;
}

.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffcf0;
  gap: 5rem;
  padding: 5rem 0;
}

.section-footer a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
}

@media (max-width: 760px) {
  .background-banner {
    height: 12rem;
  }

  .about-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    width: 90%;
  }

  .info-contain h1 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .back-to-main-associates {
    position: inherit;
    top: 1rem;
    left: 1rem;
  }
  .image-contain {
    display: flex;
    justify-content: center;
  }

  .associate-img {
    height: auto;
    width: 75%;
  }
}
