.background-header-banner {
  height: 80%;
  background-image: url(../../assets/banner2-1.jpg);
  background-size: cover;
  background-position: 70%;
  margin-bottom: 5rem;
}

.banner-filter {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80%;
  position: absolute;
}

.background-about-reel {
  height: auto;
}
/* 
@media (max-width: 1024px) {
  .background-header-banner {
    background-size: 200% auto;
    background-position-y: 40%;
    background-position-x: 25%;
  }
}

@media (max-width: 768px) {
  .background-header-banner {
    background-size: 250% auto;
    background-position-y: 40%;
    background-position-x: 40%;
  }
}

@media (max-width: 550px) {
  .background-header-banner {
    background-size: 300% auto;
    background-position-y: 35%;
    height: 70%;
  }

  .banner-filter {
    height: 70%;
  }
}

@media (max-width: 450px) {
  .background-header-banner {
    background-size: 300% auto;
    background-position-y: 20%;
    height: 70%;
  }
} */
