.background-header-banner {
  height: 80%;
  background-image: url(../../assets/banner2.jpg);
  background-size: 140% auto;
  background-position-y: center;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.background-about-reel {
  height: auto;
}

@media (max-width: 450px) {
  .background-header-banner {
    background-size: 300% auto;
    background-position-y: 20%;
    background-position-x: 40%;
    height: 70%;
  }
}
