.article_detail_container {
  display: flex;
  flex-direction: column;
}
.article_detail {
  padding-top: 20px;
  margin: 0 10vw;
  width: 80vw;
  padding-bottom: 15vh;
  display: inline;
}
.article_detail > .article_date {
  color: #505050;
  font-size: 1.2rem;
}
.article_detail > h2 {
  color: #505050;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 20px;
  width: 95%;
  text-align: justify;
}
.article_img {
  margin: 15px 20px;
  margin-right: 0;
  width: 35vw;
  object-fit: cover;
  border-radius: 4px;
  float: right;
}
.article_detail > .article_description {
  /* width: 95%; */
  font-size: 1.25rem;
  line-height: 170%;
  color: #505050;
  display: block;
  text-align: justify;
}
.article_error {
  text-align: center;
  width: auto !important;
}
.article_detail_container > .articles_background {
  height: 300px !important;
}

@media (max-width: 768px) {
  .article_img {
    width: 50vw;
  }
}
@media (max-width: 550px) {
  .article_img {
    margin: 0;
    margin-bottom: 15px;
    width: 80vw;
  }
}
