@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
.App{
    height: 100vh;
    font-family: 'Inknut Antiqua', serif;
}

html {
  scroll-behavior: smooth;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 6rem;
}

.container {
  margin: 0 auto;
  max-width: 160vh; 
  padding: 1rem 2rem;
}

