@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color-color: #fffcf0;
  height: 100vh;
}

.App {
  font-family: "Times", serif;
}

@font-face {
  font-family: "Times2";
  src: url("./assets/fonts/Times.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #581b00e9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8551d;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 6rem;
}

.container {
  margin: 0 auto;
  max-width: 160vh;
  padding: 1rem 2rem;
}
