.banner-content {
  display: flex;
  position: relative;
  top: 80px;
  width: 100%;
}

.banner-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  width: 50%;
  color: #e2e2e2;
  line-height: 3rem;
}

.banner-title {
  line-height: 100px;
  display: flex;
}

.banner-title-text {
  font-size: 6rem;
}

.banner-title-quotes {
  font-size: 5rem;
}

.banner-title-text-2 {
  font-size: 2.6rem;
}

.banner-title-author {
  width: 100%;
  font-size: 1.5rem;
  text-align: end;
  justify-self: flex-end;
}

@media (max-width: 1440px) {
  .banner-title-text {
    font-size: 5rem;
  }

  .banner-title-text-2 {
    font-size: 1.6rem;
  }
}